@charset "UTF-8";

/*FIRST MOBILE*/
/*PALETA DE CORES: 
  A1: #AAA8AD#AAA8AD
  A2: #59595B
  A3: #3F3E3C
  A4: #1E1F23
  A5: #0D0D0D*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --a1: #AAA8AD;
    --a2: #59595B;
    --a3: #3F3E3C;
    --a4: #1E1F23;
    --a5: #0D0D0D;
}

html, body, main {
    width: 100vw;
    height: 100vh;
}

main {
    background-image: linear-gradient(to top, var(--a5), var(--a3));
    position: relative;
}

#corp {

    width: 300px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

header {
    background-color: white;
    height: 28%;
    width: 100%;
}

#res1 {
    text-align: right;
    padding: 6px;
    color: var(--a2);
    font-size: 1.2em;
}

#total {
    font-size: 3em;
    text-align: right;
    padding-right: 10px;
    color: var(--a5);
}

table {
    border-collapse: collapse;
    height: 72%;
    width: 100%;

    
}

td {
    background-color: var(--a5);
    text-align: center;
    width: calc(100% / 4);
    color: white;
    font-size: 1.2em;
    transition: width 10s, height 10s;
    transition-timing-function: ease;
}

td:hover {
    background-color: #3F3E3C;
    cursor: pointer;
    
}

td:active {
    transform: scale(95%);
    background-color: white;
    color: var(--a4);
}



.claro {
    background-color: var(--a4);
}

.claro2 {
    background-color: rgb(2, 155, 155);
}
